@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* cursor: none; */
}

body {
  background: #0C0C13;
}

.cursor {
  width: 12px;
  height: 12px;
  border-radius:  50%;
  position: absolute;
  z-index: 100;
  background-color: #00E0AC;
  pointer-events: none;
}

.cursor-outline {
  width: 16px;
  height: 16px;
  border-radius:  50%;
  position: absolute;
  z-index: 100;
  background-color: transparent;
  border: 1px solid #00C899;
  transition-duration: .3s;
  transition-timing-function: ease-out;
  pointer-events: none;
}


@layer base {
  h1 {
    @apply text-7xl font-black text-primary-100 leading-tight mb-4 uppercase
  }
  h2 {
    @apply text-5xl font-bold text-primary-100 leading-tight mb-4
  }
  h3 {
    @apply text-4xl font-bold text-primary-100 leading-tight mb-4
  }
  h4 {
    @apply text-2xl font-medium text-primary-100 leading-tight mb-2
  }
  h5 {
    @apply text-xl font-light text-primary-100 leading-tight mb-2
  }
  
  p {
    @apply font-normal text-primary-100 leading-normal mb-4
  }

}

/* Swiper Styling */
.swiper-button-prev::after {
  color: #F2F3F9
}
.swiper-button-next::after {
  color: #F2F3F9
}

.swiper-pagination-bullet {
  background: #F2F3F9 !important;
}
