@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

body {
  background: url('/images/ms-background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

@layer base {
  input, textarea, select {
    @apply focus:outline-secondary-200 focus:outline-none focus:rounded-2xl
  }
  h1 {
    @apply text-5xl lg:text-7xl font-black text-primary-100 leading-tight mb-4 uppercase
  }
  h2 {
    @apply text-3xl lg:text-4xl font-bold text-primary-100 leading-tight mb-4
  }
  h3 {
    @apply text-4xl font-bold text-primary-100 leading-tight mb-4
  }
  h4 {
    @apply text-2xl font-medium text-primary-100 leading-tight mb-2
  }
  h5 {
    @apply text-xl font-light text-primary-100 leading-tight mb-2
  }
  
  p {
    @apply text-sm md:text-base font-light text-primary-100 leading-normal mb-8
  }

  .h5 {
    @apply text-xl font-light text-primary-100 leading-tight mb-2

  }

}

/* Swiper Styling */
.swiper-button-prev::after {
  color: #F2F3F9
}
.swiper-button-next::after {
  color: #F2F3F9
}

.swiper-pagination-bullet {
  background: #F2F3F9 !important;
}

